@charset "UTF-8";
@font-face {
    font-family: Sriracha;
    src: url(../imagens/GoogleFonts-Sriracha-Regular.ttf);
}
@font-face {
    font-family: Passion One;
    src: url(../imagens/PassionOne-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html, body{
    min-height: 100%;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    height: 70%;
}



h1{
    padding-top: 50px;
    font-family: Passion One;
    font-weight: bold;
    margin: auto;
    font-size: 10vw;
    text-transform: uppercase;
}

header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    color: white;
    padding-bottom: 50px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: Sriracha;
    font-family: Sriracha;
    font-size: 3.5vw;
}

.normal p{
    margin-top: 60px;
    margin-bottom: 60px;
}

.imagem{
    background-color: darkgray;
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.548);
}
#img1{
    background-image: url(../imagens/background001.jpg);
}

#img2{
 background-image: url(../imagens/background002.jpg);
}

.imagem > p{ 
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.363);
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer p{
    font-size: 2vw;
    font-weight: normal;
}

footer a{
    font-weight: bolder;
}